{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags static homepage_tag %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock extra_css %}

{% block content %}

    {% render_header page %}
    {% include_block page.body %}
    <!--/ Intro Skew Star /-->
    <!--/ Intro Skew Star /-->

    <section class="paralax-mf footer-paralax bg-image sect-mt4 route"
             style="background-image: url({% static 'img/overlay-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright-box">
                            <p class="copyright">&copy; Copyright
                                <strong>{{ settings.home.CongGeneralSettings.text_copyright }}</strong>. Todos los
                                derechos reservados</p>
                            <div class="credits">
                                <!--
                                  All the links in the footer should remain intact.
                                  You can delete the links only if you purchased the pro version.
                                  Licensing information: https://bootstrapmade.com/license/
                                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                                -->
                                Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
                                <br>
                                Developed by <a href="#" target="_blank">DuvanBotello</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>


    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}


{% endblock content %}
