{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags static homepage_tag %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock extra_css %}

{% block content %}

    {% render_header page %}
    {% include_block page.body %}
     <!--/ Intro Skew Star /-->
  <!--/ Intro Skew Star /-->



{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}


{% endblock content %}
