{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta content="" name="keywords">


          <!-- Favicons -->
          <link href="{% static 'img/favicon.png' %}" rel="icon">
          <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

          <!-- Bootstrap CSS File -->
          <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

          <!-- Libraries CSS Files -->
          <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
          <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
          <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
          <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
          <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

          <!-- Main Stylesheet File -->
          <link href="{% static 'css/style.css" rel="stylesheet' %}">

          <!-- =======================================================
            Theme Name: DevFolio
            Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
            Author: BootstrapMade.com
            License: https://bootstrapmade.com/license/
          ======================================================= -->


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
          <div id="preloader"></div>

          <!-- JavaScript Libraries -->
          <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
          <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
          <script src="{% static 'lib/popper/popper.min.js' %}"></script>
          <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
          <script src="{% static 'lib/easing/easing.min.js' %}"></script>
          <script src="{% static 'lib/counterup/jquery.waypoints.min.js' %}"></script>
          <script src="{% static 'lib/counterup/jquery.counterup.js' %}"></script>
          <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
          <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
          <script src="{% static 'lib/typed/typed.min.js' %}"></script>
          <!-- Contact Form JavaScript File -->
          <script src="{% static 'contactform/contactform.js' %}"></script>

          <!-- Template Main Javascript File -->
          <script src="{% static 'js/main.js' %}"></script>


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
