{% load wagtailcore_tags homepage_tag %}

{% block menu_item %}
    {% if value.page.live or value.link or value.document %}

        {% is_menu_item_dropdown value as has_dropdown %}

        <li class="nav-item">
            <a class="nav-link js-scroll" href="{% block url %}#{% endblock %}" {% if value.open_page_new_window %}
               target="_blank" {% endif %}>
                {% if value.display_text %}
                    {{ value.display_text|safe }}
                {% elif value.page %}
                    {{ value.page.title }}
                {% elif value.document %}
                    {{ value.document.title }}
                {% endif %}
            </a>

        </li>
    {% endif %}

{% endblock %}