{% load static wagtailcore_tags wagtailimages_tags %}

{% image value.bg_imagen original as img %}
 <div id="home" class="intro route bg-image" style="background-image: url({{ img.url }})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">{{ value.message_welcome }}</h1>
          <p class="intro-subtitle"><span class="text-slider-items">{{ value.sub_title }}</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>