{% extends "puput/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}

{% block title %}
    {{ self.title }} | {{ blog_page.title }}
{% endblock title %}

{% block meta_title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% else %}
        {{ self.title }}
    {% endif %}
{% endblock meta_title %}

{% block meta_description %}
    {% if self.search_description %}
        {{ self.search_description }}
    {% else %}
        {{ self.body|striptags|truncatewords:20 }}
    {% endif %}
{% endblock meta_description %}

{% block canonical %}
    {% canonical_url entry=self %}
{% endblock canonical %}

{% block social_share %}
    {% image self.header_image fill-800x450 as share_image %}
    <meta property="og:title" content="{{ self.title }}" />
    <meta property="og:description" content="{% if self.excerpt %}{{ self.excerpt|striptags }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}" />
    <meta property="og:url" content="{% canonical_url entry=self %}" />
    {% if self.header_image %}
        <meta property="og:image" content="{% image_url share_image.url %}" />
        <meta property="og:image:width" content="800" />
        <meta property="og:image:height" content="450" />
        <meta name="twitter:image" content="{% image_url share_image.url %}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ self.title }}" />
    <meta name="twitter:description" content="{% if self.excerpt %}{{ self.excerpt|striptags }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}" />
{% endblock social_share %}

{% block content %}

     <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper" id="blog">
    <div class="container">

          <div class="post-box">
            <div class="post-thumb">
                {% image self.header_image fill-800x450 as header_image %}
                <img class="img-fluid" alt="{{ self.header_image.title }}" src="{{ header_image.url }}">
            </div>
            <div class="post-meta">
              {% include 'puput/entry_page_header.html' with entry=self %}
                {% include 'puput/entry_links.html' with entry=self %}

            </div>
            <div class="article-content">
                {{ self.body|richtext}}
            </div>

          </div>
        <div class="row">
                <div class="col-md-4 pb-3">
                    <a href="{% pageurl blog_page %}" class="button button-a button-big button-rouded">
                        {% trans 'Atras' %}
                    </a>
                </div>
            <style>
                  ul.navega li {
                        display: inline-block;
                         margin: 5px;
                  }
            </style>
                {% entry_url self blog_page as post_url %}
            <div class="col-md-8 pt-2">
                <ul class="navega text-right col-md-10">
                    <li class="social-item">
                       {% post_to_facebook post_url '<span><i class="fa fa-facebook"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_twitter self.title post_url '<span><i class="fa fa-twitter"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_linkendin post_url '<span><i class="fa fa-linkedin"></i></span>' %}
                    </li>
                </ul>
                </div>
            </div>

          <div class="box-comments">
            <div class="title-box-2">
              <h4 class="title-comments title-left">Comments (34)</h4>
            </div>
            <ul class="list-comments">
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-4.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Carmen Vegas</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis,
                    veritatis deserunt.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li class="comment-children">
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="form-comments">
            <div class="title-box-2">
              <h3 class="title-left">
                Leave a Reply
              </h3>
            </div>
            <form class="form-mf">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control input-mf" id="inputName" placeholder="Name *" required>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <input type="email" class="form-control input-mf" id="inputEmail1" placeholder="Email *" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="url" class="form-control input-mf" id="inputUrl" placeholder="Website">
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <textarea id="textMessage" class="form-control input-mf" placeholder="Comment *" name="message"
                      cols="45" rows="8" required></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                </div>
              </div>
            </form>
          </div>



    </div>

  </section>
  <!--/ Section Blog-Single End /-->

  <!--/
    <article class="box page-content"
             {% if self.id %}data-entry-page-update-comments-url="{% url 'entry_page_update_comments' self.id %}{% endif %}">
        {% include 'puput/entry_page_header.html' with entry=self %}
        {% if self.header_image %}
            <section>
                <span class="image featured">

                </span>
                {% include 'puput/entry_links.html' with entry=self %}
            </section>
        {% endif %}
        <section>
            {{ self.body|richtext}}
            <div class="row">
                <div class="col-md-2">
                    <a href="{% pageurl blog_page %}" class="blog_btn back">
                        <i class="fa fa-angle-left"></i> {% trans 'Return' %}
                    </a>
                </div>
                {% entry_url self blog_page as post_url %}
                <ul class="social-share-all text-right col-md-10">
                    <li class="social-item">
                       {% post_to_facebook post_url '<span><i class="fa fa-facebook"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_twitter self.title post_url '<span><i class="fa fa-twitter"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_linkendin post_url '<span><i class="fa fa-linkedin"></i></span>' %}
                    </li>
                </ul>
            </div>

        </section>
        {% show_comments %}
    </article> /-->
{% endblock content %}

{% block extra_content %}
    {% if self.has_related %}
        {% include 'puput/related_entries.html' with entry=self %}
    {% endif %}
{% endblock extra_content %}
